* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    list-style: none;
}

body {
    background: #373c42;
    color: #fff;
    font-size: 1rem;
    overflow: hidden;
}

header {
    position: fixed;
    width: 90vw;
    top: 0;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo {
    font-family: "Orbitron", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #02e9fa;
    text-shadow: 0 0 10px #02e9fa;
}

header nav ul {
    display: flex;
    gap: 48px;
}

header nav ul li {
    cursor: pointer;
    position: relative;
    padding: 5px 0;
}

/* criando  efeito em baixo dos links */
header nav ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #02e9fa;
    transition: width 0.5s ease;
}

header nav ul li:hover::after {
    width: 100%;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background: linear-gradient(
        160deg,
        rgba(28, 34, 48, 1) 0%,
        rgba(1, 7, 36, 1) 100%
    );
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(0, 247, 255, 0.2) 0%,
        rgba(15, 15, 30, 0) 70%
    );
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    /* chamando a animação criada abaixo */
    animation: pulse 2s infinite alternate;
}

/* início animação */
@keyframes pulse {
    0% {
        opacity: 0.5;
        transform: translate(-50%, -50%) scale(0.8);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }
}
/* fim animação */

.list {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;

}

.item {
    height: 100%;
    position:absolute;
    opacity: 0;

    /* animação */
    transform:  translateX(800px);
    transition: transform 0.7s ease-in-out;
}
 
.item.active {
    opacity: 1;
    display: flex;
    transform:  translateX(0); 

}
  


.product-img {
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.product-img img {
    max-width: 80%;
    max-height: 60%;
    filter: drop-shadow(0 0 2rem rgba(0, 247, 255, 0.3));

    /* anomação */
}

.content {
    width: 55%;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
}

.product-tag {
    font-size: 1rem;
    text-transform: uppercase;
    color: #02e9fa;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.product-name {
    font-size: 4.5rem;
    font-family: "Orbitron", sans-serif;
    line-height: 1.1;
    margin-bottom: 20px;
}

.description {
    font-size: 1.1rem;
    color: #b8b8d0;
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 600px;
}

.btn {
    padding: 12px 18px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: linear-gradient(
        160deg,
        rgba(87, 226, 250, 1) 0%,
        rgba(5, 102, 158, 1) 100%
    );
    color: #000;
    font-size: 1rem;
    font-weight: 600;
}
.btn:hover {
    background: linear-gradient(
        160deg,
        rgba(5, 102, 158, 1) 0%,
        rgba(87, 226, 250, 1) 100%
    );
}

.setas {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.arrow-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #373c42;
    border: 1px solid #37797e;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-btn:hover {
    border: 1px solid #85e4eb;
}

.arrow-btn svg {
    color: #76a2a7;
}

.indicadores {
    width: 100vw;
    position: absolute;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
}

.num {
    width: 100%;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    font-size: 1.7rem;
    font-weight: 600;
    color: #ffffff59;
}

.dots {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.dot {
    width: 40px;
    height: 4px;
    background-color: #ffffff59;
}

.dot.active {
    background-color: #02e9fa;
}

.tech-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid #37797e3f;
}

.circle:nth-child(1) {
    width: 200px;
    height: 200px;
    top: 10%;
    left: 10%;
}

.circle:nth-child(2) {
    width: 300px;
    height: 300px;
    top: 60%;
    left: 60%;
}

.circle:nth-child(3) {
    width: 120px;
    height: 120px;
    top: 70%;
    left: 20%;
}

.circle:nth-child(4) {
    width: 80px;
    height: 80px;
    top: 30%;
    left: 50%;
}
